@import "styles/colors";

button {
  outline: none;
  cursor: pointer;
}

@mixin colorButton($mainColor, $shadowColor, $textColor) {
  /* TODO: check if possible to "calculate" shadow & text colors from the main */
  background-color: $mainColor;
  box-shadow: inset 0 -3px 0 0 $shadowColor;
  color: $textColor;
}

.Button {
  border: 0;
  border-radius: 3px;
  font-size: 0.95em;
  padding: 0.75em 1.25em;
  @include colorButton(#ffda00, #fc0, #4B4731);
}

.Button:disabled {
  @include colorButton(#B4B4B4, #808080, #555);
}

@mixin blockElement {
  flex: 1;
  background-color: $foreground-color;
  padding: 2em;
}

select,
input[type="text"] {
    border: 1px solid #DEDDD7;
    border-radius: 3px;
    padding: 0.75em 1.25em;
    font-size: 1em;
    color: $main-color;
}

.RadioButtonField {
  margin-bottom: 1em;
  input[type="radio"] {
    margin-right: .75em;
  }
}
