button {
  outline: none;
  cursor: pointer;
}

.NavigationButtons {
  border-top: 1px solid #FAFAFA;
  margin-top: 2em;
  padding-top: 1em;
  overflow: auto;
}

.Button {
  background: #ffda00;
  border: 0;
  border-radius: 3px;
  box-shadow: inset 0 -3px 0 0 #fc0;
  font-size: 0.95em;
  padding: 0.5em 1em;
  text-decoration: none;
  color: #4B4731;
}

.Button:disabled {
  background: #B4B4B4;
  box-shadow: inset 0 -3px 0 0 #808080;
  color: #555;
}

.LeftAlignedButton {
  float: left
}

.RightAlignedButton {
  float: right
}
