@import "../styles/colors";

.NavigationButtons {
  border-top: 1px solid $background-color;
  margin-top: 2em;
  padding-top: 1em;
  overflow: auto;
}

.LeftAlignedButton {
  float: left
}

.RightAlignedButton {
  float: right
}
