@import "../styles/colors";

.QuestionnaireSummary {
  p {
    text-align: center;
    margin-bottom: 1em;
  }
  strong { font-weight: bold; }
}

.QuestionnaireSummary__Item {
  margin: 3em 0;
  border-bottom: 1px solid $background-color;
  &:last-of-type {
    border: 0;
  }
}
