.Question {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  p {
    margin-bottom: 1em;
    font-weight: bold;
    font-size: 1.25em;
    text-align: center;
  }
}
