body {
  background: #FAFAFA;
  padding: 4em;
  font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
}

.App {
  background-color: #FFF;
  padding: 2em;

}

.NavigationButtons {
  border-top: 1px solid #FAFAFA;
  margin-top: 2em;
  padding-top: 1em;
}
