@import "styles/common", "styles/breakpoints";

.Questionnaire {
  @include blockElement;
  display: flex;
  flex-direction: column;
}

@media (min-width: $bigger-screens) {
  .Questionnaire {
    margin: 4em;
  }
}
